{% extends 'halls/base.html' %}
{% block content %}
<div class="container">
    <h2>Create Hall of Fame</h2>
    <form method="post">
        {% csrf_token %}
        {% load widget_tweaks %}
        {% for field in form %}
        <div class="'form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
        </div>
        {% endfor %}
        <br>
    <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}